<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Instafeed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <![endif]-->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/img/favicon.png">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8">
                    <div class="page-header">
                        <h1>
                            Instafeed <small>media filtering</small>
                        </h1>
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a> <span class="divider">/</span></li>
                            <li class="active">{{ name }}</li>
                        </ul>
                    </div>
                    <div class="span6">
                        {% for tag in tags.data %}
                            <div class="thumbnail">
                                <img src="{{ tag.images.standard_resolution.url|e }}" />
                                <div class="caption">
                                    <h3>
                                        {{ tag.caption.text|e }}
                                        <br />
                                        <small>by: {{ tag.user.full_name|e }}</small>
                                    </h3>
                                    <p>
                                        <a class="btn btn-primary btn-small" href="{{ tag.link|e }}">View on Instagram</a>
                                    </p>
                                </div>
                            </div>
                            <br />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>